img.toplink{
  margin-top: 15px;
  margin-right: 5px;

}
img.myleft{
  float: left;
}

a{
  color: #000;
  font-weight: bold;
}
div.fecha{
  color: #999;
}
img.column{
	width: 100%;
  margin-top: 10px;
	margin-bottom: 10px;
}
